@media screen and (max-width: 900px) {

.main{width: 95vw; min-height: 400px; margin: 0 0; background-color:#DABEE5; }

.r2{   background-color: white;    display: block;   }

.c1{ width: 95vw;  height: 360px;  background-color: #B5EBB5;    font-size: 20px; }

.c2{ width: 95vw; background-image: url(m.png);    background-repeat: repeat-y;    background-position: right;  padding-top: 5px;      }

.d1{width: 95vw;
    height: 60px;
    text-align: center;
    background-color: #DABEE5;
    font-size: 1em;
    vertical-align: middle;}


.d2{width: 95vw;
    height: 50px;
    text-align: center;
    background-color: #DABEE5;
    font-size: 1em;
    vertical-align: middle;
    clear: both;  }


p{text-align: center;  }  
#f1{float: left;    margin: 10px;}   
.g1{clear: both;}
 }
p {margin: 0 0;}

@media screen and (min-width: 900px) {
    

body{margin: 0 auto;     padding: 0;     background-color: #DABEE5;      }

.r2{background-image: url(m.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: white;}

.d1{width: 100vw;
    height: 130px;
    text-align: center;
    background-color: #DABEE5;
    font-size: 2em;
    vertical-align: middle;}

.c1{float: left;    width: 300px;    background-color: #B5EBB5;    font-size: 20px;    }

.c2{ margin-left: 300px;     width: calc(100vw - 300px);   }
   
.g1{clear: both;}
.d2{width: 100vw;
    text-align: center;
    background-color: #DABEE5;
    font-size: 2em;
    vertical-align: middle;
    clear: both;  }

p{text-align: center;  }  
#f1{float: left;    margin: 10px;}




}